/* Skills */


.skills {
  .size-full;
  .padding-h();

  @media (max-width: @size-mobile) {
    text-align: center;
  }
  
  background: @darkest;

  &__title {
    .block-title;
  }

  &__content {
    .font-s;
    .block-content;


  }

  &__img {   
    .masked-icon('img/drawing.svg');
    width : 100%;
    min-width: 100px;
    height: auto;
    
    background:url(img/me1.jpg) no-repeat 50% 50% ;
    background-size: 110%;
    background-position: 50% -10%;
    @media (max-width: @size-mobile) {
      height: 100vw;
    }
  }
}

/* Diagrams */
.diagrams {
  grid-column          : ~"3/4";
  .grid(max-content 1fr,1.6fr repeat(5, 1fr), 1em,2em);
  .font-s;

  @media(max-width:@size-tablete) {
    margin-top     : 25px;
    grid-column-gap: 5px;
    grid-row-gap: 1em ;
    grid-template-rows: auto;
    .font-xs;

  }


  &__row-title {
    .content-row;
    font-weight: 600;
  }

  &__rectangle-1 {
    .diagrams-rectangle(50%);

  }

  &__rectangle-2 {
    .diagrams-rectangle(80%);

  }

  &__rectangle-3 {
    .diagrams-rectangle(65%);

  }
  
  &__rectangle-4 {
    .diagrams-rectangle(45%);

  }

  & div {
    .content-row;
  }
}

/* Diagrams end */


/* Skills end */
