section.command
  h2.title Познакомьтесь с нашей командой
  .command__slider
    article.command__grid
      .command__text
        .command__title-box
          h3.command__title-box__title Основатель CentrLP
          h4.command__title-box__subtitle Максим
        p.text__content.
          Следует отметить, что существующая теория напрямую зависит от позиций, занимаемых участниками в отношении поставленных задач. Для современного мира внедрение современных методик не даёт нам иного выбора, кроме определения благоприятных перспектив. Принимая во внимание показатели успешности, выбранный нами инновационный путь создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса своевременного выполнения сверхзадачи.
          
      img.command__img(data-lazy="img/command1.jpg", alt)
    article.command__grid
      .command__text
        .command__title-box
          h3.command__title-box__title Дизайнер
          h4.command__title-box__subtitle
        p.text__content.
          Следует отметить, что существующая теория напрямую зависит от позиций, занимаемых участниками в отношении поставленных задач. Для современного мира внедрение современных методик не даёт нам иного выбора, кроме определения благоприятных перспектив. Принимая во внимание показатели успешности, выбранный нами инновационный путь создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса своевременного выполнения сверхзадачи.
          
      img.command__img(data-lazy="img/command3.jpg", alt)
    article.command__grid
      .command__text
        .command__title-box
          h3.command__title-box__title Дизайнер
          h4.command__title-box__subtitle
        p.text__content.
          Следует отметить, что существующая теория напрямую зависит от позиций, занимаемых участниками в отношении поставленных задач. Для современного мира внедрение современных методик не даёт нам иного выбора, кроме определения благоприятных перспектив. Принимая во внимание показатели успешности, выбранный нами инновационный путь создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса своевременного выполнения сверхзадачи.
          
      img.command__img(data-lazy="img/command4.jpg", alt)
  .command__arrow-left
  .command__arrow-right