section.steps
  h2.title Этапы работ
  ._card.steps__card--1.steps__card--reverse
    ._card__icon
    ._card__title 1. Отправление заявки
    ._card__text Также как выбранный нами инновационный путь предполагает независимые способы реализации модели развития.
  ._card.steps__card--2.steps__card--reverse
    ._card__icon
    ._card__title 2. Замерка объекта
    ._card__text Кстати, непосредственные участники технического прогресса будут объединены в целые кластеры себе подобных.
  ._card.steps__card--3
    ._card__icon
    ._card__title 3. Составление брифа
    ._card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum consectetur aspernatur ab aut, officia iste eius, facilis temporibus deserunt laudantium placeat dolore illum dicta sed sunt nemo sapiente, corporis deleniti.
  ._card.steps__card--4
    ._card__icon
    ._card__title 4. Разработка эскизов
    ._card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi libero molestias, enim doloribus necessitatibus itaque sunt excepturi, eius quidem quae, recusandae error. Magnam libero consectetur explicabo. Autem voluptate totam veniam.
  ._card.steps__card--5.steps__card--reverse
    ._card__icon
    ._card__title 5. Внесение предоплаты
    ._card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nobis accusantium corporis voluptatibus dolores? Id delectus odit quam in maxime aliquid aspernatur officiis cupiditate fugiat ad dolorem, dolorum amet fugit.
  ._card.steps__card--6
    ._card__icon
    ._card__title 6. Разработка чертежей
    ._card__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aliquid expedita qui quisquam similique. Provident, accusamus impedit odit repellendus ipsam veritatis vero itaque, debitis sequi aspernatur hic eius porro ab!
  ._card.steps__card--7
    ._card__icon
    ._card__title 7. Разработка визуализации
    ._card__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aliquid expedita qui quisquam similique. Provident, accusamus impedit odit repellendus ipsam veritatis vero itaque, debitis sequi aspernatur hic eius porro ab!
  ._card.steps__card--8
    ._card__icon
    ._card__title 8. Сдача проекта
    ._card__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aliquid expedita qui quisquam similique. Provident, accusamus impedit odit repellendus ipsam veritatis vero itaque, debitis sequi aspernatur hic eius porro ab!
  ._card.steps__card--9
    ._card__icon
    ._card__title 9. Окончательная оплата
    ._card__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aliquid expedita qui quisquam similique. Provident, accusamus impedit odit repellendus ipsam veritatis vero itaque, debitis sequi aspernatur hic eius porro ab!
  ._subtitle.m-hide Так вот всё легко и быстро. Жесть!