div.example  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus totam consequuntur at sed.
| Obcaecati tenetur architecto ipsa a commodi animi 
| soluta! Velit, ex. Amet qui necessitatibus quas quia laborum enim.