section.special#special
  .special__block.special__block--invert
    .special__img.special__img--1
    .special__text
      p
        | Но! Вот ни разу за 7 лет, что я занимаюсь дизайном, не было так — «Утром заявка — вечером ключи от дома». И не потому что мы неорганизованны.
        strong  Процесс-то у нас отлажен отлично и поделён на этапы.
      strong.important Но тогда почему? 
  .special__block
    .special__img.special__img--2
    .special__text
      p
        | да потому, что мы исповедуем 

        strong.important особый подход к созданию дизайн-проекта
      p
        | Понимаете? Найти хороших дизайнеров легко. Подобрать интересные дизайнерские решения — тоже не сложно. 
        strong И совсем другое дело — прочувствовать человека, понять его, услышать и сделать так, как будет хорошо именно ему.
        |  И выражается это в деталях, в мелочах, которые кажутся малозаметными. Но они делают каждую нашу работу уникальной и неповторимой.

      p.quote Любите гаджеты? Сколько розеток вам нужно возле кровати и на какой высоте? А вот тумбочка с нишей под ваш любимый бокал для виски квадратной формы.