section.special#special2
  .special__block
    .special__img.special__img--4
    .special__text.scroll
      h3 А ДАВАЙТЕ подумаем, КАКУЮ КОНФЕТКУ МОЖНО СДЕЛАТЬ ИЗ ВАШЕГО ЖИЛЬЯ?
      p На каком этапе оно сейчас? Вторичка или пока голые стены? Или вообще только собираетесь строить?
      p А может быть вы только выбираете квартиру?
      p Мы даже можем помочь вам с выбором квартиры. В чём польза? Подберём планировку для вашей семьи, чтобы пространство эффективно использовалось. И покажем возможные варианты дизайна. А бывает так, что в купленной квартире невозможно сделать перепланировку. Мы отгородим вашу семью от такой проблемы.
    .button-centred.scroll
      button.button(href="#contact2") Консультация
  .special__block.special__block--invert
    .special__img.special__img--5
    .special__text
      p Или приходите в гости на один из наших объектов
      p Я серьезно! Сможете пообщаться со строителями, дизайнером или даже с заказчиком. Сами обо всём их спросите. Посмотрите, потрогаете, почувствуете разницу. И сравните картинку с тем, что получается в реальности. Классно?
      .button-centred.scroll
        button.button(href="#contact2") Консультация