section.facts
  .facts__title.title О нас в числах и фактах
  .special__block.special__block--invert
    .special__img.special__img--3
    .facts__text
      .facts__text--1
        .facts__number 7 лет
        .facts__description я живу любимым делом со своей командой
      .facts__text--2
        .facts__number 426
        .facts__description дизайн-проектов составлено
      .facts__text--3
        .facts__number
          | 51260 м <sup> 2 </sup>
         
        .facts__description общая площадь всех наших объектов