nav.nav
  div
  .nav__toggle
    .nav__toggle__line
    .nav__toggle__line.ntl1
    .nav__toggle__line.ntl2
  a.nav__link каталог
  a.nav__link дневники
  a.nav__link акции
  img.nav__logo(src="/aramzo/static/img/logo.svg", alt="logo")
  a.nav__link
    span.search-icon 
    |  поиск
  a.nav__link
    | корзина
    span.counter-of-trash (0)
  a.nav__link войти