section.addition#addition
  h2.title.addition__title Создание дизайн-проекта с нами — это только начало
  article.addition__grid
    .addition__card
      img.addition__card__img(src="img/addition/1.svg", alt)
      p Комплектация и закупка? Конечно, да! Еще подарим наши оптовые скидки в строительных магазинах.
    .addition__card
      img.addition__card__img(src="img/addition/2.svg", alt)
      p Предложить решение под определённый бюджет? Обязательно! Можем сэкономить до 30 % от стоимости ремонта.
    .addition__card
      img.addition__card__img(src="img/addition/3.svg", alt)
      p Авторский надзор за ремонтными работами? Безусловно! Будем приезжать на стройку минимум раз в неделю.
.projects__after