doctype html 
html(lang="ru") 
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(author="narcomacer@gmail.com")
    title Seo page
    link(rel="stylesheet", href="bundle.seo.min.css")
    
body    
    include parts/nav/nav.pug

script(type="text/javascript", src="js/jquery-1.11.0.min.js")



    

