
/* nav */
.nav {
  .block(9.5%, 2px);
  padding-top: 28px;
  .font-s-600;
  min-height      : 75px;
  box-sizing      : border-box;
  position        : sticky;
  background-color: @white;
  top             : -22px;
  z-index         : 10;
  .grid(11% repeat(4, minmax(max-content, 1.2fr)) minmax(max-content, 40%), 45px, 4.4%);
  align-content  : center;
  align-items    : center;
  justify-content: center;

  @media (max-width: @size-mobile) {
    .grid(67px max-content 1fr, 25px, 5%)
  }

  &__link {
    text-align: center;

  }

  &__phone {
    text-align: right;
    .txt-18;

    @media (max-width: @size-mobile) {
      padding-left: 45px;
    }
  }

  &__toggle {
    left              : 5%;
    display           : grid;
    grid-template-rows: 1fr 1fr 1fr;
    width             : 1.4rem;
    height            : 1.2rem;
    align-self        : center;
    justify-self      : center;

    cursor: pointer;
  }

  &__toggle__line {
    height       : 50%;
    border-bottom: 2px solid black;
  }

  &__bottom {
    .grid(1fr, repeat(4, 2em), 10px, 20px);
    position   : absolute;
    top        : 0;
    left       : 0;
    right      : 0;
    z-index    : 20;
    background : white;
    height     : 100vh;
    padding-top: 10vh;
    z-index    : 20;
  }

  &__cross {
    text-transform: uppercase;
    text-shadow   : 0.1em 0.1em 4px black;
    position      : absolute;
    top           : 30px;
    left          : 30px;
    font-family   : 'HelveticaNavCyr', sans-serif;
    font-size     : 24px;
    font-weight   : 600;
    line-height   : 1.4em;
    cursor        : pointer;
  }

}

/* nav ends */