header.header
  aside.header__aside
    | Социальные сети:

    a._link.-facebook(target="_blank" href="https://www.facebook.com/narcom")
    a._link.-linkedin(target="_blank" href="https://www.linkedin.com/in/%D0%BA%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D0%BD%D1%82%D0%B8%D0%BD-%D0%BA%D0%BB%D0%B8%D0%BC%D0%B5%D0%BD%D0%BA%D0%BE-3880b1a9/")
    a._link.-vk(target="_blank" href="https://vk.com/narcom")
  .header__main
    h1.header__title Web-разработчик Константин Клименко
    .header__text