section.hits
  h2.h2__header__title хиты продаж
  #c-3.hits__slider.owl-carousel.owl-theme
    .hits__slide
      a.hits__slide__hover
        .hits__slide__hover__title подробнее
      img.hits__slide__img(src="/aramzo/static/img/bitmap1.jpg", alt="духи")
      p.hits__title.
        ORANGE MAURESQUE CHOPARD Парфюмерная Вода
        
      p.hits__cost 20 800 Р
    .hits__slide
      a.hits__slide__hover
        .hits__slide__hover__title подробнее
      img.hits__slide__img(src="/aramzo/static/img/bitmap2.jpg", alt="духи")
      p.hits__title.
        LADY IN RED HFC Парфюмерная вода
        
      p.hits__cost 22 800 Р
    .hits__slide
      a.hits__slide__hover
        .hits__slide__hover__title подробнее
      img.hits__slide__img(src="/aramzo/static/img/bitmap1.jpg", alt="духи")
      p.hits__title.
        ORANGE MAURESQUE CHOPARD Парфюмерная Вода
        
      p.hits__cost 20 800 Р
    .hits__slide
      a.hits__slide__hover
        .hits__slide__hover__title подробнее
      img.hits__slide__img(src="/aramzo/static/img/bitmap2.jpg", alt="духи")
      p.hits__title.
        LADY IN RED HFC Парфюмерная вода
        
      p.hits__cost 22 800 Р
    .hits__slide
      a.hits__slide__hover
        .hits__slide__hover__title подробнее
      img.hits__slide__img(src="/aramzo/static/img/bitmap1.jpg", alt="духи")
      p.hits__title.
        ORANGE MAURESQUE CHOPARD Парфюмерная Вода
        
      p.hits__cost 20 800 Р
    .hits__slide
      a.hits__slide__hover
        .hits__slide__hover__title подробнее
      img.hits__slide__img(src="/aramzo/static/img/bitmap2.jpg", alt="духи")
      p.hits__title.
        LADY IN RED HFC Парфюмерная вода
        
      p.hits__cost 22 800 Р