section.sert#sert
  h2._title.title Мои сертификаты 
  h2/
  
  .glide
    .glide__track(data-glide-el="track")
      .glide__slides
        
          img.sert__img(src="img/bx1.png")
          
          img.sert__img(src="img/bx2.png")
        
          img.sert__img(src="img/python.png")
    .glide__arrows(data-glide-el="controls")
        .glide__arrow.glide__arrow--left(data-glide-dir="<") <
        .glide__arrow.glide__arrow--right(data-glide-dir=">") >

    