section.sert#sert
  h2._title.title Мои сертификаты 
  h2/
  
  .glide
    .glide__track(data-glide-el="track")
      .glide__slides.gallery
        a.sert__a(href="img/bx1.png" target="_blank")
          img.sert__img(src="img/bx1.png")
        a.sert__a(href="img/python.png" target="_blank")
          img.sert__img(src="img/python.png")
        a.sert__a(href="img/bx2.png" target="_blank")  
          img.sert__img(src="img/bx2.png")       
    .glide__arrows(data-glide-el="controls")
        .glide__arrow.glide__arrow--left(data-glide-dir="<") <
        .glide__arrow.glide__arrow--right(data-glide-dir=">") >

    