.sert{
  .block(9%, 0);
  background-color: @darkest;
  padding-top  : 80px;
  overflow-x: hidden;
  

  @media (max-width: @size-tablete) {
    text-align: center;
    padding-top: 30px;
  
  }
  
  &__title{
    padding-bottom: 80px;
    
  }
  
  &__img{
    max-height: 100%;
    max-width: 100%;   
  margin:auto
  }
  
  &__a{
    display: inline-flex;
    visibility: hidden;
    height: 280px;
    
    object-fit: contain;
  }
  
  &__a.glide__slide--active,&__a.glide__slide--active+a,&__a.glide__slide--active+a+a{
    visibility: visible;
  } 
  
  
}

.glide {
  position: relative;
  &__arrow{
    position: absolute;
    top:50%;
    background-color: @diagram-dark;
    color:@darkest;
    width: 1em;
    height:1em;
    border-radius: 50%;
    text-align: center;
    padding-bottom: 1.3em;
    cursor: pointer;
    
    &:hover{
      background-color: lighten(@diagram-dark, 30%);
    }
    
    &--right{
      right:-40px;
    }
    
    &--left{
      left:-40px;
    }
  }
}

