section.projects#projects
  h2.title
    | Посмотрите наши
    br
    strong лучшие проекты 2019
  .projects__slider
    article.projects__grid
      img.projects__img(data-lazy="img/photo1.jpg", alt)
      .projects__text.text
        h3.text__title
          | Трехкомнатная московская квартира

          nobr
            | 143 м 
            sup 2
            | .
          |  Теперь уже пятикомнатная.

        ul
          li
            h4.text__subtitle Задача:
            p.text__content Спроектировать квартиру в ЛОФТ стилистике с тремя спальнями, просторной кухней-гостиной. Квартира должна быть просторной и функциональной
          li
            h4.text__subtitle Сложности:
            ul.text__content
              li Уместить все необходимые помещения, сохранив при этом их функциональность и воздух
              li Установка кухни вдали от коммуникаций
              li Спроектировать гардеробные при каждой спальне
            h4.text__subtitle Решение:
            p.text__content Опираясь на большой опыт проектирования пространств разной площади, мы решили уйти от традиционного расположения помещений вблизи коммуникаций. Кухню увели в центр квартиры, столовая зона находится у лоджии. У каждого окошка квартиры расположили спальню, чтобы жилые помещения были освещены максимально естественно. При этом у каждой спальни есть свой гардеробный уголок. Несмотря на общее брутальное стилистическое настроение квартиры — мы предложили контрастное оформление плоскостей — от темного к светлому. Таким приемом мы смогли нагроможденную комнатами квартиру сделать светлой и просторной.
    article.projects__grid
      img.projects__img(src="img/photo2.jpg", alt)
      .projects__text.text
        h3.text__title LOREM IPSUM
        ul
          li
            h4.text__subtitle Задача:
            p.text__content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas id quae aliquid repellendus ab, quia eius incidunt eos vel aspernatur, totam neque animi ad velit omnis eveniet saepe ea officiis.
          li
            h4.text__subtitle Сложности:
            ul.text__content
              li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae mollitia suscipit quis inventore hic, voluptates deserunt repellat dolorum omnis totam obcaecati veritatis iste voluptate officiis, laboriosam doloribus! Tenetur, alias.
              li.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat quas ipsam sed, optio reiciendis facere? Quaerat ratione dolore voluptatem repellat culpa odio, nisi eos voluptatibus vero minima voluptatum deserunt.
                
              li.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, ad repellendus placeat amet distinctio accusamus nam ut odit assumenda quod, pariatur blanditiis debitis. Quos similique aspernatur ad excepturi consectetur earum.
                
        h4.text__subtitle Решение:
        p.text__content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat dolores voluptatem minima eos iste minus dolor dolore, veritatis itaque adipisci excepturi natus nesciunt neque temporibus. Velit, rerum minima. Fugit, eum.
    article.projects__grid
      img.projects__img(data-lazy="img/photo3.jpg", alt)
      .projects__text.text
        h3.text__title LOREM IPSUM
        ul
          li
            h4.text__subtitle Задача:
            p.text__content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas id quae aliquid repellendus ab, quia eius incidunt eos vel aspernatur, totam neque animi ad velit omnis eveniet saepe ea officiis.
          li
            h4.text__subtitle Сложности:
            ul.text__content
              li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae mollitia suscipit quis inventore hic, voluptates deserunt repellat dolorum omnis totam obcaecati veritatis iste voluptate officiis, laboriosam doloribus! Tenetur, alias.
              li.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat quas ipsam sed, optio reiciendis facere? Quaerat ratione dolore voluptatem repellat culpa odio, nisi eos voluptatibus vero minima voluptatum deserunt.
                
              li.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, ad repellendus placeat amet distinctio accusamus nam ut odit assumenda quod, pariatur blanditiis debitis. Quos similique aspernatur ad excepturi consectetur earum.
                
        h4.text__subtitle Решение:
        p.text__content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat dolores voluptatem minima eos iste minus dolor dolore, veritatis itaque adipisci excepturi natus nesciunt neque temporibus. Velit, rerum minima. Fugit, eum.
    article.projects__grid
      img.projects__img(data-lazy="img/photo4.jpg", alt)
      .projects__text.text
        h3.text__title LOREM IPSUM
        ul
          li
            h4.text__subtitle Задача:
            p.text__content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas id quae aliquid repellendus ab, quia eius incidunt eos vel aspernatur, totam neque animi ad velit omnis eveniet saepe ea officiis.
          li
            h4.text__subtitle Сложности:
            ul.text__content
              li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae mollitia suscipit quis inventore hic, voluptates deserunt repellat dolorum omnis totam obcaecati veritatis iste voluptate officiis, laboriosam doloribus! Tenetur, alias.
              li.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat quas ipsam sed, optio reiciendis facere? Quaerat ratione dolore voluptatem repellat culpa odio, nisi eos voluptatibus vero minima voluptatum deserunt.
                
              li.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, ad repellendus placeat amet distinctio accusamus nam ut odit assumenda quod, pariatur blanditiis debitis. Quos similique aspernatur ad excepturi consectetur earum.
                
        h4.text__subtitle Решение:
        p.text__content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat dolores voluptatem minima eos iste minus dolor dolore, veritatis itaque adipisci excepturi natus nesciunt neque temporibus. Velit, rerum minima. Fugit, eum.
    article.projects__grid
      img.projects__img(data-lazy="img/photo4.jpg", alt)
      .projects__text.text
        h3.text__title LOREM IPSUM
        ul
          li
            h4.text__subtitle Задача:
            p.text__content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas id quae aliquid repellendus ab, quia eius incidunt eos vel aspernatur, totam neque animi ad velit omnis eveniet saepe ea officiis.
          li
            h4.text__subtitle Сложности:
            ul.text__content
              li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis repudiandae mollitia suscipit quis inventore hic, voluptates deserunt repellat dolorum omnis totam obcaecati veritatis iste voluptate officiis, laboriosam doloribus! Tenetur, alias.
              li.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat quas ipsam sed, optio reiciendis facere? Quaerat ratione dolore voluptatem repellat culpa odio, nisi eos voluptatibus vero minima voluptatum deserunt.
                
              li.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, ad repellendus placeat amet distinctio accusamus nam ut odit assumenda quod, pariatur blanditiis debitis. Quos similique aspernatur ad excepturi consectetur earum.
                
        h4.text__subtitle Решение:
        p.text__content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat dolores voluptatem minima eos iste minus dolor dolore, veritatis itaque adipisci excepturi natus nesciunt neque temporibus. Velit, rerum minima. Fugit, eum.
  .projects__nav.t-hide
    .projects__arrow-left
    .projects__arrow-right
    .projects__grid.projects__grid--nav
      .projects__slider-nav
        img(src="img/photo1.jpg", alt)
        img(src="img/photo2.jpg", alt)
        img(src="img/photo3.jpg", alt)
        img(src="img/photo4.jpg", alt)
        img(src="img/photo1.jpg", alt)
        img(src="img/photo2.jpg", alt)
        img(src="img/photo3.jpg", alt)
        img(src="img/photo4.jpg", alt)
.projects__after