:root {
    --grey: #8b8b8b;
    --light-grey: #bcbcbc;
    --super-light-grey: #ededed;
    --light-brown: #c6b18b;
    --small-font: 12px;
    --basic-font: 16px;
    --small-adaptive: calc((100vw - 480px)/(1920 - 480) * (12 - 9) + 9px);
    --small-adaptive2: 0.625vw;
    --time: 1s;
}

@-webkit-keyframes moveLeft {
    to {
        transform: translateX(100vw);
    }
}

@keyframes moveLeft {
    to {
        transform: translateX(100vw);
    }
}

@-webkit-keyframes moveRight {
    to {
        transform: translateX(-100vw);
    }
}

@keyframes moveRight {
    to {
        transform: translateX(-100vw);
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GothamPro', sans-serif;
    font-size: var(--basic-font);
    display: grid;
    grid-template-rows: repeat(9, auto);
    grid-gap: 100px;
}

@media(min-width:1920px) {
    body {
        --small-adaptive: 14px;
    }
}

@media(max-width:480px) {
    body {
        --small-adaptive: 10px;
    }
}

a {
    display: block;
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
    border: none;
    outline: none;
}

button,
button:active {
    border: none;
    outline: none;
}

.line {
    --line-size: 46px;
    --line-x: 5px;
    --line-y: 1.1em;
    background-image: linear-gradient(to bottom, #c6b18b 33%, transparent 50%);
    background-position: var(--line-x) var(--line-y);
    background-repeat: no-repeat;
    background-size: var(--line-size) 8px;
    transition: background-size;
    transition-duration: 1.5s;
    line-height: 2;
}

.line:hover {
    background-size: calc(var(--line-size) * 2) 8px;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

@font-face {
    src: url(../fonts/fontawesome-webfont.ttf);
    font-family: 'fo';
}

@font-face {
    font-family: 'GothamPro';
    font-weight: normal;
    src: url('../fonts/Gotham Pro.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    font-weight: normal;
    src: url('../fonts/Gotham Pro light italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro';
    font-weight: normal;
    src: url('../fonts/GothamPro-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Medium';
    font-weight: normal;
    src: url('../fonts/Gotham Pro medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Regular';
    font-weight: normal;
    src: url('../fonts/Gotham Pro regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.h1 {
    font-family: 'GothamPro', sans-serif;
    font-size: 2.5vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #ffffff;
}

@media(min-width:1920px) {
    h1 {
        font-size: 48px;
    }
}


/* header */

.header {
    display: grid;
    grid-template-rows: 46px 52px calc(35vw - 98px) auto auto;
    grid-template-columns: 13% 36% auto;
    width: 100%;
    height: 56.25vw;
    background-image: url(../img/header-min.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    /* задаем фоновые изображения, для различных разрешений */
    background-image: -webkit-image-set(url(../img/header-min.jpg) 1x, url(../img/header.jpg) 2x);
}

.nav {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-gap: 2.6vw;
    grid-template-columns: 5vw 22px repeat(3, max-content) auto repeat(3, max-content) 5vw;
    grid-template-areas: ". a b c d logo e f g ."
}

.header__title {
    grid-column: 2/3;
    grid-row: 4/5;
}

.header__title__min {
    margin-top: 31px;
    font-family: 'GothamPro', sans-serif;
    font-size: var(--small-adaptive);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    color: #ffffff;
    padding-left: 3px;
    --line-size: 4.15em;
    --line-y: 1.7em;
    --line-x: 5px;
}


/* header end */


/* nav */

.nav__link {
    font-family: 'GothamPro', sans-serif;
    font-size: var(--small-adaptive);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.search-icon,
.fo {
    font-family: 'fo';
    display: inline;
}

.search-icon {
    font-size: calc(var(--small-adaptive) * 0.833);
}

.nav__logo {
    justify-self: center;
    align-self: center;
    width: 12vw;
    height: auto;
    max-width: 222px;
    max-height: 52px;
}

.nav__toggle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1.4em;
    height: 1.2em;
    align-self: center;
    cursor: pointer;
}

.nav__toggle__line {
    height: 50%;
    border-bottom: 2px solid white;
}

.ntl1 {
    width: 75%;
}

.nav__toggle:hover>.ntl1 {
    width: 100%;
}

.nav__toggle:hover>.ntl2 {
    width: 75%;
}


/* nav end */


/* categories */

.categories {
    margin-left: 13.5%;
    margin-right: 13.5%;
    display: grid;
    grid-template-rows: 2vw 5vw 5.5vw 10.4vw 1.3vw 10.4vw 10.4vw;
    grid-template-columns: 11vw 11vw 1.3vw 11vw 1.3vw 11vw 1.3vw 24vw;
}

.categories__a {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.brick-title {
    margin: 0;
    display: block;
    grid-column: 1/8;
    grid-row: 1/3;
    align-self: start;
    font-family: 'GothamPro', sans-serif;
    text-transform: uppercase;
    font-size: 7.75vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: -0.25vw;
    color: var(--super-light-grey);
}

.brick-title-min {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 2em;
    font-size: var(--small-adaptive);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    color: #000000;
    font-family: 'GothamPro', sans-serif;
    text-transform: uppercase;
    margin-left: 13px;
    text-align: left;
    --line-size: 6.5em;
    --line-x: -3px;
    --line-y: 1.6em;
}

.block-img__1 {
    grid-column: 2/5;
    grid-row: 4/5;
}

.block-img__2 {
    grid-column: 6/9;
    grid-row: 2/5;
}

.block-img__3 {
    grid-column: 1/3;
    grid-row: 6/7;
}

.block-img__4 {
    grid-column: 4/7;
    grid-row: 6/8;
}

.block-img__5 {
    grid-column: 8/9;
    grid-row: 6/7;
}

.block-img__caption {
    position: absolute;
    bottom: 0;
    color: #FFF;
    font-family: 'GothamPro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9vw;
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 0.75vw;
    transition: font-size 1.5s ease 0.25s;
    text-shadow: 1px 1px 1px black;
}

.f-2 {
    font-size: 1.8vw;
    font-weight: bold;
}

.categories__a:hover>.block-img__caption {
    font-size: 1.8vw;
}

.categories__a:hover>.f-2 {
    font-size: 2.6vw;
}

.categories__img {
    max-width: 100%;
    height: auto;
    min-height: 100%;
}


/* categories end */


/* news */

.news {
    padding-top: 91px;
    padding-left: calc(13.5% - 1.35vw);
    padding-right: calc(13.5% - 1.35vw);
    padding-bottom: 54px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.news__header {
    display: grid;
    grid-template-columns: max-content max-content auto max-content;
    grid-gap: 3.6vw;
    margin-bottom: 45px;
    padding-left: 1.35vw;
    padding-right: 1.35vw;
}

.news__header__link {
    border-bottom: 1px dashed currentColor;
    font-size: calc(var(--small-adaptive) * 1.5);
    font-style: italic;
}

.news__header__title {
    font-size: calc(var(--small-adaptive) * 1.1666);
    color: var(--light-grey);
}

.news__header__all {
    font-size: var(--small-adaptive);
}

.news__content {
    width: 100%;
}

.news__1-slide {
    height: auto;
    display: grid;
    grid-template-rows: 1fr 60px auto auto;
    padding-left: 1.35vw;
    padding-right: 1.35vw;
}

.news__slide {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 1.35vw;
    padding-right: 1.35vw;
    grid-gap: 2.7vw;
}

.news__img {
    width: 100%;
    height: auto;
}

.news__1-slide__date,
.news__slide__date {
    font-size: var(--small-adaptive);
    text-align: center;
    padding-top: calc(60px - 1em);
    color: var(--light-brown);
}

.news__slide__date {
    padding-top: 19px;
    padding-bottom: 9px;
}

.news__1-slide__title {
    font-size: calc(var(--small-adaptive) * 2.5);
    font-weight: 900;
    margin-bottom: 21px;
}

.news__slide__title-min {
    font-weight: 900;
    font-size: calc( var(--small-adaptive) + 4px);
}

@media(min-width: 1290px) {
    .news__1-slide__title {
        font-size: 32px;
    }
}

.news__1-slide__text {
    font-size: calc(var(--small-adaptive) * 1.333);
    padding-left: 9%;
    padding-right: 9%;
}

.news__slide__item {
    display: grid;
    grid-template-rows: auto auto 3em;
}

#owl-carousel .owl-nav .owl-prev {
    font-size: 0em;
    position: absolute;
    top: calc(50% - 2vw);
    left: -4vw;
}

#owl-carousel .owl-nav .owl-next {
    font-size: 0em;
    position: absolute;
    top: calc(50% - 2vw);
    right: -4vw;
}

#owl-carousel .owl-nav .owl-prev span,
#owl-carousel .owl-nav .owl-next span {
    color: white;
    display: block;
    width: 4vw;
    height: 4vw;
    background: url(../img/arrow.svg) center/contain;
    cursor: pointer;
}

#owl-carousel .owl-nav .owl-prev span {
    transform: scale(-1);
}


/* news end */


/* brends */

.brends {
    position: relative;
    padding-left: 13.5%;
    overflow: hidden;
    max-width: 99.9vw;
}

.brends__content {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 15.4vw 4vw auto repeat(3, 2.5em) auto;
    grid-template-columns: auto 61.7vw;
}

.h2__header__title {
    font-size: calc(var(--small-adaptive) * 1.1666);
    color: var(--light-grey);
    position: absolute;
    top: 0;
    left: 13.5%;
    z-index: 3;
}

.brends__link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.brends__link::after {
    content: ">";
    font-size: 14px;
    color: var(--light-grey);
    padding-left: .5em;
}

.brends__text {
    padding-bottom: 29px;
    padding-right: 24px;
    padding-top: 29px;
    line-height: 1.75;
    color: var(--grey);
    font-size: calc( var(--small-adaptive) + 4px);
}

.brends__img {
    grid-row: 1/8;
    grid-column: 2/3;
    height: auto!important;
    width: 100%!important;
}

.brends__logo {
    width: auto!important;
    height: 4vw!important;
}

#carousel-2 .owl-nav .owl-prev {
    font-size: 0em;
    position: absolute;
    top: 19%;
    left: -1%;
}

#carousel-2 .owl-nav button.owl-next {
    font-size: 0em;
    position: absolute;
    top: 19%;
    left: 5%;
}

#carousel-2 .owl-nav button.owl-prev span,
#carousel-2 .owl-nav button.owl-next span {
    color: white;
    display: block;
    width: 4vw;
    height: 4vw;
    background: url(../img/arrow.svg) center/contain;
    cursor: pointer;
}

#carousel-2 .owl-nav .owl-prev span {
    transform: scale(-1);
}


/* brends end */


/* hits */

.hits {
    max-width: 99.99vw;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.hits__slider {
    width: 100%;
}

.hits__slide {
    display: grid;
    grid-template-rows: 23.4vw 1.5em 1.5em;
}

.hits__slide__hover {
    width: 23.4vw!important;
    height: 23.4vw!important;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 3;
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    visibility: hidden;
}

.hits__slide:hover .hits__slide__hover {
    visibility: inherit;
}

.hits__slide__hover__title {
    width: 10.4vw;
    height: 2.2vw;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: calc(50% - 1.1vw);
    left: calc(50% - 5.2vw);
    text-align: center;
    padding-top: 1.1vw;
    font-size: var(--small-adaptive);
}

.hits__slide__img {
    width: 23.4vw!important;
    height: 23.4vw!important;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}

#c-3.owl-carousel .owl-item,
#c-3.owl-carousel .owl-wrapper {
    -webkit-transform: translateX(12.5vw);
    transform: translateX(12.5vw);
}

.hits__title {
    font-size: calc( var(--small-adaptive));
    text-align: left;
    padding-right: 10px;
}

.hits__cost {
    font-size: calc( var(--small-adaptive));
    color: var(--light-brown);
    text-align: left;
    padding-right: 10px;
}

#c-3 .owl-nav .owl-prev {
    font-size: 0em;
    position: absolute;
    top: 40%;
    left: 1%;
}

#c-3 .owl-nav button.owl-next {
    font-size: 0em;
    position: absolute;
    top: 40%;
    right: 1%;
}

#c-3 .owl-nav button.owl-prev span,
#c-3 .owl-nav button.owl-next span {
    color: white;
    display: block;
    width: 4vw;
    height: 4vw;
    background: url(../img/arrow2.svg) center/contain;
    cursor: pointer;
}

#c-3 .owl-nav .owl-prev span {
    transform: scale(-1);
}


/* hits end */


/* journal */

.journal {
    position: relative;
    min-height: 46.9vw;
    overflow: hidden;
    padding-left: 13.5%;
    padding-right: 13.5%;
}

.journal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    filter: opacity(0);
    display: none;
}

.journal__slider {
    display: grid;
}

.journal__slide {
    position: relative;
    grid-row: 1/2;
    grid-column: 1/2;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    transition: filter 1s ease-in;
}

.journal__left {
    position: relative;
    margin-top: 26vw;
    z-index: 3;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    transform: translateX(-30vw);
    transition: filter, transform calc(var(--time) + 0.3s) ease-in;
    width: 36.45vw;
}

.move__left>.journal__left {
    animation: moveLeft 3s linear 1.2s forwards;
}

.move__right>.journal__left {
    animation: moveRight 3s linear 0.5s forwards;
}

.journal__left__header {
    width: 155px;
    height: 24px;
    font-size: calc(var(--small-adaptive) - 1px);
    border: solid 1px var(--light-brown);
    color: var(--light-brown);
    text-align: center;
    padding-top: 12px;
}

.journal__left__date {
    color: var(--light-grey);
    font-size: calc(var(--small-adaptive) * 1.75);
}

.journal__left__title {
    font-size: calc(var(--small-adaptive) * 3.5);
    margin-top: 26px;
    margin-bottom: 26px;
}

.journal__img {
    position: absolute;
    top: 0;
    left: 24.8vw;
    width: 23.4vw;
    height: 46.9vw;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    transition: filter var(--time) ease-in;
}

.move__left>.journal__img {
    animation: moveLeft 3s linear 1s forwards;
}

.move__right>.journal__img {
    animation: moveRight 3s linear 1s forwards;
}

.journal__right {
    position: relative;
    margin-top: 26vw;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 22.34vw;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    transition: filter calc(var(--time) + 0.3s) ease-in 0.6s;
}

.move__left>.journal__right {
    animation: moveLeft 3s linear 0.5s forwards;
}

.move__right>.journal__right {
    animation: moveRight 3s linear 1.2s forwards;
}

.journal__right__text {
    display: grid;
    grid-gap: 2em;
    color: var(--light-grey);
}

.journal__right__link {
    margin-top: 50px;
}

.journal__nav__prev {
    font-size: 0em;
    position: absolute;
    left: 20%;
}

.journal__nav__next {
    font-size: 0em;
    position: absolute;
    right: 20%;
}

.a-s {
    -webkit-filter: opacity(100%);
    filter: opacity(100%)
}

.a-s>div,
.a-s>img {
    -webkit-filter: opacity(100%);
    filter: opacity(100%)
}

.a-s>.journal__left {
    transform: translateX(0);
}

.journal__nav__prev,
.journal__nav__next {
    z-index: 10;
    top: 30%;
    display: block;
    width: 8vw;
    height: 8vw;
    background: url(../img/big-arrow.svg) no-repeat center/contain;
    cursor: pointer;
}

.journal__nav__prev {
    transform: scale(-1);
    top: 12%;
}

@media(max-width:1200px) {
    .journal__right {
        margin-top: 0;
    }
    .journal__nav__next {
        right: 70%;
    }
    .journal__nav__prev,
    .journal__nav__next {
        top: 20%;
    }
}


/* end journal */


/* instagram */

.instagram {
    padding-left: 13.5%;
    padding-right: 13.5%;
    display: grid;
    grid-template-rows: 7.75vw 18.09vw 18.09vw;
    grid-template-columns: repeat(4, 18.09vw);
}

.instagram__title {
    -webkit-transform: translate(-8.333vw, 3vw);
    transform: translate(-8.333vw, 3vw);
    z-index: -1;
}

.instagram__link {
    grid-column: 4/5;
    grid-row: 1/2;
    height: 2em;
    align-self: end;
    text-align: right;
    font-family: 'GothamPro Medium', sans-serif;
    letter-spacing: 2px;
}

.instagram__img {
    width: 100%;
    height: 100%;
}

.i-1 {
    grid-column: 1/3;
    grid-row: 2/4;
}

.i-2 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.i-3 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.i-4 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.i-5 {
    grid-column: 4/5;
    grid-row: 2/3;
}


/*end instagram */


/* footer */

.footer {
    display: grid;
    padding-bottom: 100px;
    padding-left: 13.5%;
    padding-right: 13.5%;
    grid-template-columns: 17em repeat(4, max-content);
    grid-gap: 6.5vw;
}

@media(max-width:1025px) {
    .footer {
        grid-template-columns: 7em repeat(4, minmax(min-content, max-content));
    }
}

@media(max-width:870px) {
    .footer {
        grid-gap: 0.5vw;
    }
}

.footer__title {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: calc( var(--small-adaptive2) + 2px);
    text-transform: uppercase;
}

.footer__column {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(5, 1em);
}

.footer__socicons .fo {
    font-size: calc( var(--small-adaptive2) + 4px);
    margin-right: 23px;
}

.footer__text {
    font-size: var(--small-adaptive);
}


/* footer end*/

.d-b {
    display: block;
}

:root {
    --grey: #8b8b8b;
    --light-grey: #bcbcbc;
    --super-light-grey: #ededed;
    --light-brown: #c6b18b;
    --small-font: 12px;
    --basic-font: 16px;
    --small-adaptive: calc((100vw - 480px)/(1920 - 480) * (12 - 9) + 9px);
    --small-adaptive2: 0.625vw;
    --time: 1s;
}

@-webkit-keyframes moveLeft {
    to {
        transform: translateX(100vw);
    }
}

@keyframes moveLeft {
    to {
        transform: translateX(100vw);
    }
}

@-webkit-keyframes moveRight {
    to {
        transform: translateX(-100vw);
    }
}

@keyframes moveRight {
    to {
        transform: translateX(-100vw);
    }
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'GothamPro', sans-serif;
    font-size: var(--basic-font);
    display: grid;
    grid-template-rows: repeat(9, auto);
    grid-gap: 100px;
    width: 100%;
}

@media(min-width:1920px) {
    body {
        --small-adaptive: 14px;
    }
}

@media(max-width:480px) {
    body {
        --small-adaptive: 10px;
    }
}

a {
    display: block;
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
    border: none;
    outline: none;
}

button,
button:active {
    border: none;
    outline: none;
}

.line {
    --line-size: 46px;
    --line-x: 5px;
    --line-y: 1.1em;
    background-image: linear-gradient(to bottom, #c6b18b 33%, transparent 50%);
    background-position: var(--line-x) var(--line-y);
    background-repeat: no-repeat;
    background-size: var(--line-size) 8px;
    transition: background-size;
    transition-duration: 1.5s;
    line-height: 2;
}

.line:hover {
    background-size: calc(var(--line-size) * 2) 8px;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

@font-face {
    src: url(../fonts/fontawesome-webfont.ttf);
    font-family: 'fo';
}

@font-face {
    font-family: 'GothamPro';
    font-weight: normal;
    src: url('../fonts/Gotham Pro.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    font-weight: normal;
    src: url('../fonts/Gotham Pro light italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GothamPro';
    font-weight: normal;
    src: url('../fonts/GothamPro-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Medium';
    font-weight: normal;
    src: url('../fonts/Gotham Pro medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro Regular';
    font-weight: normal;
    src: url('../fonts/Gotham Pro regular.ttf');
    font-weight: normal;
    font-style: normal;
}

.h1 {
    font-family: 'GothamPro', sans-serif;
    font-size: 2.5vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #ffffff;
}

@media(min-width:1920px) {
    h1 {
        font-size: 48px;
    }
}


/* header */

.header {
    display: grid;
    grid-template-rows: 46px 52px calc(35vw - 98px) auto auto;
    grid-template-columns: 13% 36% auto;
    width: 100%;
    height: 56.25vw;
    background-image: url(../img/header-min.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    /* Ð·Ð°Ð´Ð°ÐµÐ¼ Ñ„Ð¾Ð½Ð¾Ð²Ñ‹Ðµ Ð¸Ð·Ð¾Ð±Ñ€Ð°Ð¶ÐµÐ½Ð¸Ñ, Ð´Ð»Ñ Ñ€Ð°Ð·Ð»Ð¸Ñ‡Ð½Ñ‹Ñ… Ñ€Ð°Ð·Ñ€ÐµÑˆÐµÐ½Ð¸Ð¹ */
    background-image: -webkit-image-set(url(../img/header-min.jpg) 1x, url(../img/header.jpg) 2x);
}

.nav {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-gap: 2.6vw;
    grid-template-columns: 5vw 22px repeat(3, max-content) auto repeat(3, max-content) 5vw;
    grid-template-areas: ". a b c d logo e f g ."
}

.header__title {
    grid-column: 2/3;
    grid-row: 4/5;
}

.header__title__min {
    margin-top: 31px;
    font-family: 'GothamPro', sans-serif;
    font-size: var(--small-adaptive);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    color: #ffffff;
    padding-left: 3px;
    --line-size: 4.15em;
    --line-y: 1.7em;
    --line-x: 5px;
}


/* header end */


/* nav */

.nav__link {
    font-family: 'GothamPro', sans-serif;
    font-size: var(--small-adaptive);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

.search-icon,
.fo {
    font-family: 'fo';
    display: inline;
}

.search-icon {
    font-size: calc(var(--small-adaptive) * 0.833);
}

.nav__logo {
    justify-self: center;
    align-self: center;
    width: 12vw;
    height: auto;
    max-width: 222px;
    max-height: 52px;
}

.nav__toggle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1.4em;
    height: 1.2em;
    align-self: center;
    cursor: pointer;
}

.nav__toggle__line {
    height: 50%;
    border-bottom: 2px solid white;
}

.ntl1 {
    width: 75%;
}

.nav__toggle:hover>.ntl1 {
    width: 100%;
}

.nav__toggle:hover>.ntl2 {
    width: 75%;
}


/* nav end */


/* categories */

.categories {
    margin-left: 13.5%;
    margin-right: 13.5%;
    display: grid;
    grid-template-rows: 2vw 5vw 5.5vw 10.4vw 1.3vw 10.4vw 10.4vw;
    grid-template-columns: 11vw 11vw 1.3vw 11vw 1.3vw 11vw 1.3vw 24vw;
}

.categories__a {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.brick-title {
    margin: 0;
    display: block;
    grid-column: 1/8;
    grid-row: 1/3;
    align-self: start;
    font-family: 'GothamPro', sans-serif;
    text-transform: uppercase;
    font-size: 7.75vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: -0.25vw;
    color: var(--super-light-grey);
}

.brick-title-min {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 2em;
    font-size: var(--small-adaptive);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.5px;
    color: #000000;
    font-family: 'GothamPro', sans-serif;
    text-transform: uppercase;
    margin-left: 13px;
    text-align: left;
    --line-size: 6.5em;
    --line-x: -3px;
    --line-y: 1.6em;
}

.block-img__1 {
    grid-column: 2/5;
    grid-row: 4/5;
}

.block-img__2 {
    grid-column: 6/9;
    grid-row: 2/5;
}

.block-img__3 {
    grid-column: 1/3;
    grid-row: 6/7;
}

.block-img__4 {
    grid-column: 4/7;
    grid-row: 6/8;
}

.block-img__5 {
    grid-column: 8/9;
    grid-row: 6/7;
}

.block-img__caption {
    position: absolute;
    bottom: 0;
    color: #FFF;
    font-family: 'GothamPro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9vw;
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 0.75vw;
    transition: font-size 1.5s ease 0.25s;
    text-shadow: 1px 1px 1px black;
}

.f-2 {
    font-size: 1.8vw;
    font-weight: bold;
}

.categories__a:hover>.block-img__caption {
    font-size: 1.8vw;
}

.categories__a:hover>.f-2 {
    font-size: 2.6vw;
}

.categories__img {
    max-width: 100%;
    height: auto;
    min-height: 100%;
}


/* categories end */


/* news */

.news {
    padding-top: 91px;
    padding-left: calc(13.5% - 1.35vw);
    padding-right: calc(13.5% - 1.35vw);
    padding-bottom: 54px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.news__header {
    display: grid;
    grid-template-columns: max-content max-content auto max-content;
    grid-gap: 3.6vw;
    margin-bottom: 45px;
    padding-left: 1.35vw;
    padding-right: 1.35vw;
}

.news__header__link {
    border-bottom: 1px dashed currentColor;
    font-size: calc(var(--small-adaptive) * 1.5);
    font-style: italic;
}

.news__header__title {
    font-size: calc(var(--small-adaptive) * 1.1666);
    color: var(--light-grey);
}

.news__header__all {
    font-size: var(--small-adaptive);
}

.news__content {
    width: 100%;
}

.news__1-slide {
    height: auto;
    display: grid;
    grid-template-rows: 1fr 60px auto auto;
    padding-left: 1.35vw;
    padding-right: 1.35vw;
}

.news__slide {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 1.35vw;
    padding-right: 1.35vw;
    grid-gap: 2.7vw;
}

.news__img {
    width: 100%;
    height: auto;
}

.news__1-slide__date,
.news__slide__date {
    font-size: var(--small-adaptive);
    text-align: center;
    padding-top: calc(60px - 1em);
    color: var(--light-brown);
}

.news__slide__date {
    padding-top: 19px;
    padding-bottom: 9px;
}

.news__1-slide__title {
    font-size: calc(var(--small-adaptive) * 2.5);
    font-weight: 900;
    margin-bottom: 21px;
}

.news__slide__title-min {
    font-weight: 900;
    font-size: calc( var(--small-adaptive) + 4px);
}

@media(min-width: 1290px) {
    .news__1-slide__title {
        font-size: 32px;
    }
}

.news__1-slide__text {
    font-size: calc(var(--small-adaptive) * 1.333);
    padding-left: 9%;
    padding-right: 9%;
}

.news__slide__item {
    display: grid;
    grid-template-rows: auto auto 3em;
}

#owl-carousel .owl-nav .owl-prev {
    font-size: 0em;
    position: absolute;
    top: calc(50% - 2vw);
    left: -4vw;
}

#owl-carousel .owl-nav .owl-next {
    font-size: 0em;
    position: absolute;
    top: calc(50% - 2vw);
    right: -4vw;
}

#owl-carousel .owl-nav .owl-prev span,
#owl-carousel .owl-nav .owl-next span {
    color: white;
    display: block;
    width: 4vw;
    height: 4vw;
    background: url(../img/arrow.svg) center/contain;
    cursor: pointer;
}

#owl-carousel .owl-nav .owl-prev span {
    transform: scale(-1);
}


/* news end */


/* brends */

.brends {
    position: relative;
    padding-left: 13.5%;
    overflow: hidden;
    max-width: 99.9vw;
}

.brends__content {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 15.4vw 4vw auto repeat(3, 2.5em) auto;
    grid-template-columns: auto 61.7vw;
}

.h2__header__title {
    font-size: calc(var(--small-adaptive) * 1.1666);
    color: var(--light-grey);
    position: absolute;
    top: 0;
    left: 13.5%;
    z-index: 3;
}

.brends__link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.brends__link::after {
    content: ">";
    font-size: 14px;
    color: var(--light-grey);
    padding-left: .5em;
}

.brends__text {
    padding-bottom: 29px;
    padding-right: 24px;
    padding-top: 29px;
    line-height: 1.75;
    color: var(--grey);
    font-size: calc( var(--small-adaptive) + 4px);
}

.brends__img {
    grid-row: 1/8;
    grid-column: 2/3;
    height: auto!important;
    width: 100%!important;
}

.brends__logo {
    width: auto!important;
    height: 4vw!important;
}

#carousel-2 .owl-nav .owl-prev {
    font-size: 0em;
    position: absolute;
    top: 19%;
    left: -1%;
}

#carousel-2 .owl-nav button.owl-next {
    font-size: 0em;
    position: absolute;
    top: 19%;
    left: 5%;
}

#carousel-2 .owl-nav button.owl-prev span,
#carousel-2 .owl-nav button.owl-next span {
    color: white;
    display: block;
    width: 4vw;
    height: 4vw;
    background: url(../img/arrow.svg) center/contain;
    cursor: pointer;
}

#carousel-2 .owl-nav .owl-prev span {
    transform: scale(-1);
}


/* brends end */


/* hits */

.hits {
    max-width: 99.99vw;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.hits__slider {
    width: 100%;
}

.hits__slide {
    display: grid;
    grid-template-rows: 23.4vw 1.5em 1.5em;
}

.hits__slide__hover {
    width: 23.4vw!important;
    height: 23.4vw!important;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 3;
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    visibility: hidden;
}

.hits__slide:hover .hits__slide__hover {
    visibility: inherit;
}

.hits__slide__hover__title {
    width: 10.4vw;
    height: 2.2vw;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: calc(50% - 1.1vw);
    left: calc(50% - 5.2vw);
    text-align: center;
    padding-top: 1.1vw;
    font-size: var(--small-adaptive);
}

.hits__slide__img {
    width: 23.4vw!important;
    height: 23.4vw!important;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 1;
}

#c-3.owl-carousel .owl-item,
#c-3.owl-carousel .owl-wrapper {
    -webkit-transform: translateX(12.5vw);
    transform: translateX(12.5vw);
}

.hits__title {
    font-size: calc( var(--small-adaptive));
    text-align: left;
    padding-right: 10px;
}

.hits__cost {
    font-size: calc( var(--small-adaptive));
    color: var(--light-brown);
    text-align: left;
    padding-right: 10px;
}

#c-3 .owl-nav .owl-prev {
    font-size: 0em;
    position: absolute;
    top: 40%;
    left: 1%;
}

#c-3 .owl-nav button.owl-next {
    font-size: 0em;
    position: absolute;
    top: 40%;
    right: 1%;
}

#c-3 .owl-nav button.owl-prev span,
#c-3 .owl-nav button.owl-next span {
    color: white;
    display: block;
    width: 4vw;
    height: 4vw;
    background: url(../img/arrow2.svg) center/contain;
    cursor: pointer;
}

#c-3 .owl-nav .owl-prev span {
    transform: scale(-1);
}


/* hits end */


/* journal */

.journal {
    position: relative;
    min-height: 46.9vw;
    overflow: hidden;
    padding-left: 13.5%;
    padding-right: 13.5%;
}

.journal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    filter: opacity(0);
    display: none;
}

.journal__slider {
    display: grid;
}

.journal__slide {
    position: relative;
    grid-row: 1/2;
    grid-column: 1/2;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    transition: filter 1s ease-in;
}

.journal__left {
    position: relative;
    margin-top: 26vw;
    z-index: 3;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    transform: translateX(-30vw);
    transition: filter, transform calc(var(--time) + 0.3s) ease-in;
    width: 36.45vw;
}

.move__left>.journal__left {
    animation: moveLeft 3s linear 1.2s forwards;
}

.move__right>.journal__left {
    animation: moveRight 3s linear 0.5s forwards;
}

.journal__left__header {
    width: 155px;
    height: 24px;
    font-size: calc(var(--small-adaptive) - 1px);
    border: solid 1px var(--light-brown);
    color: var(--light-brown);
    text-align: center;
    padding-top: 12px;
}

.journal__left__date {
    color: var(--light-grey);
    font-size: calc(var(--small-adaptive) * 1.75);
}

.journal__left__title {
    font-size: calc(var(--small-adaptive) * 3.5);
    margin-top: 26px;
    margin-bottom: 26px;
}

.journal__img {
    position: absolute;
    top: 0;
    left: 24.8vw;
    width: 23.4vw;
    height: 46.9vw;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    transition: filter var(--time) ease-in;
}

.move__left>.journal__img {
    animation: moveLeft 3s linear 1s forwards;
}

.move__right>.journal__img {
    animation: moveRight 3s linear 1s forwards;
}

.journal__right {
    position: relative;
    margin-top: 26vw;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 22.34vw;
    -webkit-filter: opacity(0);
    filter: opacity(0);
    transition: filter calc(var(--time) + 0.3s) ease-in 0.6s;
}

.move__left>.journal__right {
    animation: moveLeft 3s linear 0.5s forwards;
}

.move__right>.journal__right {
    animation: moveRight 3s linear 1.2s forwards;
}

.journal__right__text {
    display: grid;
    grid-gap: 2em;
    color: var(--light-grey);
}

.journal__right__link {
    margin-top: 50px;
}

.journal__nav__prev {
    font-size: 0em;
    position: absolute;
    left: 20%;
}

.journal__nav__next {
    font-size: 0em;
    position: absolute;
    right: 20%;
}

.a-s {
    -webkit-filter: opacity(100%);
    filter: opacity(100%)
}

.a-s>div,
.a-s>img {
    -webkit-filter: opacity(100%);
    filter: opacity(100%)
}

.a-s>.journal__left {
    transform: translateX(0);
}

.journal__nav__prev,
.journal__nav__next {
    z-index: 10;
    top: 30%;
    display: block;
    width: 8vw;
    height: 8vw;
    background: url(../img/big-arrow.svg) no-repeat center/contain;
    cursor: pointer;
}

.journal__nav__prev {
    transform: scale(-1);
    top: 12%;
}

@media(max-width:1200px) {
    .journal__right {
        margin-top: 0;
    }
    .journal__nav__next {
        right: 65%;
    }
    .journal__nav__prev,
    .journal__nav__next {
        top: 15%;
    }
}


/* end journal */


/* instagram */

.instagram {
    overflow: hidden;
    max-width: 100%;
    padding-left: 13.5%;
    padding-right: 13.5%;
    display: grid;
    grid-template-rows: 7.75vw 18.09vw 18.09vw;
    grid-template-columns: repeat(4, 18.09vw);
}

.instagram__title {
    -webkit-transform: translate(-8.333vw, 3vw);
    transform: translate(-8.333vw, 3vw);
    z-index: -1;
}

.instagram__link {
    grid-column: 4/5;
    grid-row: 1/2;
    height: 2em;
    align-self: end;
    text-align: right;
    font-family: 'GothamPro Medium', sans-serif;
    letter-spacing: 2px;
}

.instagram__img {
    width: 100%;
    height: 100%;
}

.i-1 {
    grid-column: 1/3;
    grid-row: 2/4;
}

.i-2 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.i-3 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.i-4 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.i-5 {
    grid-column: 4/5;
    grid-row: 2/3;
}


/*end instagram */


/* footer */

.footer {
    display: grid;
    padding-bottom: 100px;
    padding-left: 13.5%;
    padding-right: 13.5%;
    grid-template-columns: 17em repeat(4, max-content);
    grid-gap: 4.5vw;
}

@media(max-width:1025px) {
    .footer {
        grid-template-columns: 7em repeat(4, minmax(min-content, max-content));
    }
}

@media(max-width:870px) {
    .footer {
        grid-gap: 0.5vw;
    }
}

.footer__title {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: calc( var(--small-adaptive2) + 2px);
    text-transform: uppercase;
}

.footer__column {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(5, 1em);
}

.footer__socicons .fo {
    font-size: calc( var(--small-adaptive2) + 4px);
    margin-right: 23px;
}

.footer__text {
    font-size: var(--small-adaptive);
}


/* footer end*/

.d-b {
    display: block;
}

.d-n {
    display: none!important;
}