.nav
    a.nav_a(href="") pricing
    a.nav_a(href="") support
    a.nav_a(href="") about
    a.nav_a(href="") blog
    a.nav_a(href="").nav_border
    a.nav_a(href="") login
    a.nav_a(href="").nav_sign-in sign in