section.first
  .first__text
    h2.first__text-big
      | Pассчитаем стоимость

     
      | <nobr> дизайн-проекта за <strong> 1 час </strong> </nobr>
      |  бесплатно
    .first__text-small
      | Создаем дизайн-проект интерьера под ключ для квартир, 

      nobr.
        домов и коммерческих
        
      |  помещений в Тюмени и области
    .first__buttons.scroll
      button.button(href="#contact") Хочу рассчет
      a.first__link(href="#projects") Посмотреть портфолио 
    .first__grid.t-hide
      .first__grid__title 7 лет
      .first__grid__title
        | 51260 м
        sup 2
      .first__grid__title 426
      .first__grid__cell опыта
      .first__grid__cell
        | общая площадь
        br
        | объектов
      .first__grid__cell выполненных проектов
  .first_bg
    .first__img(alt)