- var rec = 'rectangle'


section.skills#skills
  h3.title._title Навыки
  .skills__content
    .skills__img
    .skills__diagrams.diagrams
      .diagrams__row-title Графический дизайн
      .diagrams__rectangle-1
      .diagrams__row-title Инструменты
      div Adobe PS,Corel Draw,Figma, Gimp, Pinta
      .diagrams__row-title Вёрстка
      .diagrams__rectangle-2
      .diagrams__row-title Инструменты
      div HTML, CSS, Bootstrap, Less
      .diagrams__row-title Front-end разработка
      .diagrams__rectangle-3
      .diagrams__row-title Инструменты
      div JS, Node.js, Gulp, Webpack, React
      .diagrams__row-title Back-end/ CMS
      .diagrams__rectangle-4
      .diagrams__row-title Инструменты
      div PHP, Bitrix, Wordpress, Joomla