section.contact#contact3
  .contact__form.contact-form#contact-form_1(data-tema="Дочитал до конца, хочу подарок")
    .contact__text.title Форма для тех, кто дочитал до конца
    .contact__text.subtitle.contact-form__description.
      Приезжайте, обсудим вашу задачу!
      
    input.contact__name.contact-form__input_name(type="text", name="name", placeholder="Имя")
    input.contact__phone.contact-form__input_tel(name="tel", type="tel", placeholder="Номер телефона")
    button.button.contact-form__button(onclick="SimpleMailer(this);") Записаться