footer.footer
  .footer__logo
    a.logo(href="/").
      
      
    p Создаем дизайн-проект интерьера под ключ для квартир, домов и коммерческих помещений в Тюмени и области
  .footer__adress
    p Республики, дом 55, Тюмень
    a(href="tel:+79058248564") +7 905 824-85-64
  .footer__social
    a(target="_blank", href="https://vk.com/design_home72")
      img(src="img/vk.svg", alt="vkontakte")
    a(target="_blank", href="https://www.instagram.com/design.centrlp/")
      img(src="img/insta.svg", alt="instagram")
    a(target="_blank", href, style="display:")
      img(src="img/be.svg", alt="behance")
  .footer__links
    a(href="/") Партнёрам(услуги)
    a(href="/") Партнёрам(товары)
    a(href="/") Договор
    a(href="/politic.html") Политика конфиденциальности