nav.nav
  a._link.m-hide(href="#skills") Навыки
  a._link.m-hide(href="#landings") Вёрстка
  a._link.m-hide(href="#bitrix_pages") Битрикс
  a._link._telephone(href="tel:+79603975547") +7(960)397-55-47