header.header 
    article.header__txt
        h1.header__txt__title SEO Backlink be Ranked 1
        .header__txt__text
            | Were the top marketplace for service providers. 
            | Wheter you need home cleaning or a personal trainer we let you compare 
            | and book top local business - Completely free.
        button.button.button--oval Explore our service 

    .header__img.pc-img
        .pc-img__main