doctype html 
html(lang="ru") 

head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Константин Клименко|Разработчик
    link(rel="stylesheet" href="bundle.min.css")
body    
    include parts/nav/nav.pug

    include parts/header/header.pug
    include parts/skills/skills.pug
    include parts/landings/landings.pug
    include parts/landings/bitrix_pages.pug
    include parts/sert/sert.pug
    
    include parts/footer/footer.pug
    
    

    script
        include parts/scripts/openText.js
        include parts/scripts/pageRoll.js
    script(src = "src/parts/scripts/glide.min.js") 
        
    script
        include parts/scripts/glide__config.js
        
   




