section.landings#bitrix_pages
  h2.title Примеры работ с 1С Bitrix
  .landings__slider#slider2
    .landings__card
      a(target="_blank", href="https://xn----8sbdihbrep7azagdepew7k3b.xn--p1ai/")
        img.landings__card__img(src="img/lex.png")
      a.landings__card__title(target="_blank", href="https://xn----8sbdihbrep7azagdepew7k3b.xn--p1ai/").
        Юристы Екатеринбург
        
      .landings__card__text
        p
          | Сайт юридического агентства.
          br
          | Несколько лендингов объединены в рамках многостраничного сайта.
          br
          | Информация выводится с помощью компонента News.
          br
          | Для вёрстки использован bootstrap.

        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="https://xn----8sbwaiauhtjlneoz.xn--p1ai/")
        img.landings__card__img(src="img/sts.png")
      a.landings__card__title(target="_blank", href="https://xn----8sbwaiauhtjlneoz.xn--p1ai/").
        Стройтехснаб
        
      .landings__card__text
        p
          | Сайт торгово-промышленной компании
          br
          | Макет вёрстки превращён в шаблон Битрикс
          br
          br
          br
          br
          br
        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="http://new.ovksistema.ru/")
        img.landings__card__img(src="img/rab.png")
      a.landings__card__title(target="_blank", href="http://new.ovksistema.ru/").
        ОВК Система
        
      .landings__card__text
        p
          | Интернет-магазин вентилляционного оборудования
          br
          | Макет вёрстки превращён в шаблон Битрикс
          br
          | Использованы компоненты - Каталог, Новости и Галлерея
          br
          br
          br
        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    

    .landings__card
      a(target="_blank", href="https://stroyholding.ru/")
        img.landings__card__img(src="img/stroyholding-logo.png")
      a.landings__card__title(target="_blank", href="https://stroyholding.ru/").
        Стройхолдинг
        
      .landings__card__text
        p
          | Интернет-магазин строительных материалов
          br
          | Добавлен нестандартный функционал
          br
          | Кастомизированы компоненты - Каталог, Навигационная цепочка, меню и др.
          br
          br
          br
        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")