section.landings#landings
  h2.title Примеры вёрстки
  .landings__slider#slider1
    .landings__card
      a(target="_blank", href="/center_lp/")
        img.landings__card__img(src="img/brainstorming.svg")
      a.landings__card__title(target="_blank", href="/center_lp/").
        Center LP
        
      .landings__card__text
        p
          | Рекламный лендинг дизайнерского агентства.
          br
          | Для лучшей адаптивности были использованы css-переменные. Сетка сделана с помощью CSS Grid.
          br
          | Препроцессор - less. Исходный код CSS разбит на модули, которые собираются с помощью Gulp.Карусели сделаны на Slick и JQuery.

        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="http://site.hostronavt.ru/")
        img.landings__card__img(src="img/car.jpg")
      a.landings__card__title(target="_blank", href="http://site.hostronavt.ru/").
        Paint resident
        
      .landings__card__text
        p
          | Рекламный лендинг автосалона. Сетка сделана с помощью CSS Grid.
          br
          | Макет вёрстки превращён в шаблон Wordpress
          br
        | Использован дизайн со статичными блоками информации, реализованный с помощью position: sticky.

        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="/sauna/")
        img.landings__card__img(src="img/bucket.png")
      a.landings__card__title(target="_blank", href="/sauna/").
        Сауна "Оазис"
        
      .landings__card__text
        p
          | Главная страница сайта сауны.
          br
          | Сетка сделана с помощью CSS Grid.
          br
          | Препроцессор - less. Карусели сделаны на Slick и JQuery.
          br
          br
          br
        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")