section.landings#landings
  h2.title Примеры вёрстки
  .landings__slider#slider1
    .landings__card
      a(target="_blank", href="/zr-podpiska/")
        img.landings__card__img(src="img/zr.png")
      a.landings__card__title(target="_blank", href="/zr-podpiska/").
        За рулём
        
      .landings__card__text
        p
          | Сайт.
          br
          | Для лучшей адаптивности были использованы css-переменные. Сетка сделана с помощью CSS Grid.
          br
          | Препроцессор - less. Исходный код CSS разбит на модули, которые собираются с помощью Gulp.

        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="/center_lp/")
        img.landings__card__img(src="img/brainstorming.svg")
      a.landings__card__title(target="_blank", href="/center_lp/").
        Center LP
        
      .landings__card__text
        p
          | Рекламный лендинг дизайнерского агентства.
          br
          | Для лучшей адаптивности были использованы css-переменные. Сетка сделана с помощью CSS Grid.
          br
          | Препроцессор - less. Исходный код CSS разбит на модули, которые собираются с помощью Gulp.Карусели сделаны на Slick и JQuery.

        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="http://site.hostronavt.ru/")
        img.landings__card__img(src="img/car.jpg")
      a.landings__card__title(target="_blank", href="http://site.hostronavt.ru/").
        Paint resident
        
      .landings__card__text
        p
          | Рекламный лендинг автосалона. Сетка сделана с помощью CSS Grid.
          br
          | Макет вёрстки превращён в шаблон Wordpress
          br
        | Использован дизайн со статичными блоками информации, реализованный с помощью position: sticky.

        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="/sauna/")
        img.landings__card__img(src="img/bucket.png")
      a.landings__card__title(target="_blank", href="/sauna/").
        Сауна "Оазис"
        
      .landings__card__text
        p
          | Главная страница сайта сауны.
          br
          | Сетка сделана с помощью CSS Grid.
          br
          | Препроцессор - less. Карусели сделаны на Slick и JQuery.
          br
          br
          br
        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="/aramzo/")
        img.landings__card__img(src="/aramzo/static/img/i-3.png")
      a.landings__card__title(target="_blank", href="/aramzo/").
        Арамзо
        
      .landings__card__text
        p
          | Главная страница сайта парфюмерной компании.
          br
          | Сетка сделана с помощью CSS Grid.
          br
          | Карусели сделаны на Owl carusel и собственных скриптах.
          br
          br
          br
        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="https://potolki-nur.ru/matovye-natyazhnye-potolki-kupit/")
        img.landings__card__img(src="/img/potolki.svg")
      a.landings__card__title(target="_blank", href="https://potolki-nur.ru/matovye-natyazhnye-potolki-kupit/").
        Потолки "Натяжнов"
        
      .landings__card__text
        p
          | Одна из страниц сайта.
          br
          | Сетка сделана с помощью Flexbox.
          br
          | Частично использованы готовые CSS от другого разработчика.
          br
          br
          br
        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")
    .landings__card
      a(target="_blank", href="/portfolio/")
        img.landings__card__img(src="/img/port.jpg")
      a.landings__card__title(target="_blank", href="/portfolio/").
        Портфолио
        
      .landings__card__text
        p
          | Небольшой тренировочный лендинг
          br
          | Сетка сделана с помощью CSS Grid.
          br
          
          br
          br
          br
        .white-gradient
      .landings__card__arrow-down(onclick="openText(this)")